.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.img__wqIiD {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img__wqIiD > picture > img {
  object-fit: cover;
}
.img__wqIiD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___1GRb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img___1GRb > picture > img {
  object-fit: cover;
}
.img___1GRb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___1Ntik {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img___1Ntik > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img___1Ntik > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: right center;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 143px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  height: 222px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__nTwXf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nTwXf {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__s8TYw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 420px;
  max-width: 1000px;
  margin-top: 0px;
  margin-right: 0px;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
  padding: 8px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__s8TYw {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
.freeBox__bbeHs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__bbeHs {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__h5ROa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zazlo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dAGaQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lrmIw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__lrmIw:global(.__wab_instance) {
    display: none;
  }
}
.svg__xsvFu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__oebDc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.home:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__laCgU {
  max-width: var(--token-LXHA3eQbNUHYiQ);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__laCgU {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.text__wUkTj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__oN1G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__oN1G > picture > img {
  object-fit: cover;
}
.img__oN1G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__oN1G {
    max-width: 249px;
  }
}
.img__nkQsL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__nkQsL > picture > img {
  object-fit: cover;
}
.img__nkQsL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nkQsL {
    width: auto;
  }
}
.img__kvNVi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kvNVi > picture > img {
  object-fit: cover;
}
.img__kvNVi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__kvNVi {
    max-width: 50px;
  }
}
.img__bqEh {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img__bqEh > picture > img {
  object-fit: cover;
}
.img__bqEh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bqEh {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__jvl2M {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__jvl2M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__jvl2M > :global(.__wab_flex-container) > *,
.freeBox__jvl2M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvl2M > :global(.__wab_flex-container) > picture > img,
.freeBox__jvl2M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jvl2M {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jvl2M > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jvl2M > :global(.__wab_flex-container) > *,
  .freeBox__jvl2M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jvl2M > :global(.__wab_flex-container) > picture > img,
  .freeBox__jvl2M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard___6Lzo7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard___6Lzo7:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__y3UK1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard___8Gd4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ee25 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__ee25 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__ee25 > :global(.__wab_flex-container) > *,
.freeBox__ee25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ee25 > :global(.__wab_flex-container) > picture > img,
.freeBox__ee25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ee25 {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ee25 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ee25 > :global(.__wab_flex-container) > *,
  .freeBox__ee25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ee25 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ee25
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.button___2BWtB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6AvXj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__t6SGp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.img__bcQWh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bcQWh > picture > img {
  object-fit: cover;
}
.img__bcQWh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bcQWh {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__rLfOe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rLfOe > picture > img {
  object-fit: cover;
}
.img__rLfOe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__rLfOe {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__jxBvu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jxBvu > picture > img {
  object-fit: cover;
}
.img__jxBvu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__jxBvu {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__pxjZd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pxjZd > picture > img {
  object-fit: cover;
}
.img__pxjZd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pxjZd {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__va2A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__va2A > picture > img {
  object-fit: cover;
}
.img__va2A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__va2A {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__tsDz9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tsDz9 > picture > img {
  object-fit: cover;
}
.img__tsDz9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__tsDz9 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__rCrLo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rCrLo > picture > img {
  object-fit: cover;
}
.img__rCrLo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__rCrLo {
    max-width: 72px;
    max-height: 72px;
  }
}
.text__apY1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__apY1 {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__uDfod {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uDfod {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img___7M8DL {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img___7M8DL > picture > img {
  object-fit: cover;
}
.img___7M8DL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7M8DL {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mmNoz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mmNoz {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__jw6W8 {
  --plsmc-rc-col-gap: 0px;
}
.columns__jw6W8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__jw6W8 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jw6W8 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__jw6W8 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jw6W8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jw6W8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dgY1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__dgY1E {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__u3ACc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__u3ACc > picture > img {
  object-fit: cover;
}
.img__u3ACc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__bQpRj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__bQpRj {
    padding: 4px 0px;
  }
}
.img__j3S0H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__j3S0H > picture > img {
  object-fit: cover;
}
.img__j3S0H > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__uFrrr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__uFrrr {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img___6SLv3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img___6SLv3 > picture > img {
  object-fit: cover;
}
.img___6SLv3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__rNyWe {
  --plsmc-rc-col-gap: 0px;
}
.columns__rNyWe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__rNyWe > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rNyWe > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rNyWe > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__rNyWe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__rNyWe > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hrF9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hrF9 {
    padding-right: 0px;
  }
}
.img___7Xn2U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img___7Xn2U > picture > img {
  object-fit: cover;
}
.img___7Xn2U > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__j8Zd2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__j8Zd2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__eamK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__eamK > picture > img {
  object-fit: cover;
}
.img__eamK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__kXcIg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__kXcIg {
    padding-left: 0px;
  }
}
.img__hWRk4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__hWRk4 > picture > img {
  object-fit: cover;
}
.img__hWRk4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___4Pk9M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__nkfcg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__opvEg {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__opvEg {
    font-size: 16px;
  }
}
.button__koTkD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__koTkD:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__tldN7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___0Dw {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg__wBbwy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__oA1Wo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__oA1Wo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oA1Wo > :global(.__wab_flex-container) > *,
.freeBox__oA1Wo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oA1Wo > :global(.__wab_flex-container) > picture > img,
.freeBox__oA1Wo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oA1Wo {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oA1Wo > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oA1Wo > :global(.__wab_flex-container) > *,
  .freeBox__oA1Wo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oA1Wo > :global(.__wab_flex-container) > picture > img,
  .freeBox__oA1Wo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__v10LT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__okKug:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___7Ai3X {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox___7Ai3X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___7Ai3X > :global(.__wab_flex-container) > *,
.freeBox___7Ai3X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Ai3X > :global(.__wab_flex-container) > picture > img,
.freeBox___7Ai3X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___7Ai3X > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___7Ai3X > :global(.__wab_flex-container) > *,
  .freeBox___7Ai3X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Ai3X > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Ai3X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__e3ByB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__jkJZs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__qzQde {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__rHurU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-iF5qn8RUDPfGsb);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__rHurU {
    padding-top: 18px;
  }
}
.freeBox___6JceS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6JceS {
    display: flex;
    flex-direction: column;
  }
}
.freeBox___3HoSf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___6Td6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___6Td6 > picture > img {
  object-fit: cover;
}
.img___6Td6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___6Td6 {
    max-width: 339px;
  }
}
.freeBox__oLc5V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__fVxFk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-iF5qn8RUDPfGsb);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__fVxFk {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__g70Go {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__g70Go {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__mgPWk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mgPWk > picture > img {
  object-fit: cover;
}
.img__mgPWk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0JNu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___0JNu {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox___6OpPg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6OpPg {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__doGpP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__doGpP > picture > img {
  object-fit: cover;
}
.img__doGpP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__doGpP {
    width: auto;
    align-self: flex-start;
  }
}
.text__g2HKy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__g2HKy {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox__ym5Is {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox__ym5Is > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ym5Is {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ym5Is > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ym5Is > :global(.__wab_flex-container) > *,
  .freeBox__ym5Is > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ym5Is > :global(.__wab_flex-container) > picture > img,
  .freeBox__ym5Is
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__puiHe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__sQ0Us:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__vdcIk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2Z34I {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox___2Z34I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___2Z34I {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___2Z34I > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___2Z34I > :global(.__wab_flex-container) > *,
  .freeBox___2Z34I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Z34I > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Z34I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__vzgC4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__bhv35:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__ecMwG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__blH32 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img__blH32 > picture > img {
  object-fit: cover;
}
.img__blH32 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__blH32 {
    display: none !important;
  }
}
.img__dHy6V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__dHy6V > picture > img {
  object-fit: cover;
}
.img__dHy6V > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__dHy6V {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__fjOzk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fjOzk {
    margin-bottom: 0px;
  }
}
.img__gadja {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__gadja > picture > img {
  object-fit: cover;
}
.img__gadja > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__mRtEz {
  --plsmc-rc-col-gap: 0px;
}
.columns__mRtEz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__mRtEz > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__mRtEz > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mRtEz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mRtEz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rg8NM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__rg8NM {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-iF5qn8RUDPfGsb);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__mk2Wu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-iF5qn8RUDPfGsb);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__mk2Wu {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__tZsmV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__tZsmV {
    padding-bottom: 38px;
  }
}
.button___8DHbz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___8DHbz:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__efXKy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__hpPUx {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg___8YCdg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__sJi8W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns___6Wih9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns___6Wih9 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  --plsmc-rc-col-gap: 52px;
}
.columns___6Wih9 > :global(.__wab_flex-container) > *,
.columns___6Wih9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6Wih9 > :global(.__wab_flex-container) > picture > img,
.columns___6Wih9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
.columns___6Wih9 {
  --plsmc-rc-col-gap: 0px;
}
.columns___6Wih9 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___6Wih9 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___6Wih9 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Wih9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Wih9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Wih9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5N0Ys {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__i2Xwx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__bYw3O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__dmcFu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__dmcFu:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__kLfqw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text___3MHvF {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___3MHvF {
    top: 85px;
    font-size: 14px;
  }
}
.column__nVdjH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__vlPFc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__vlPFc:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
