.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__ehmP8 {
  display: flex;
  position: relative;
  max-width: var(--token-LXHA3eQbNUHYiQ);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__ehmP8 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__ehmP8 > :global(.__wab_flex-container) > *,
.freeBox__ehmP8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehmP8 > :global(.__wab_flex-container) > picture > img,
.freeBox__ehmP8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ehmP8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ehmP8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ehmP8 > :global(.__wab_flex-container) > *,
  .freeBox__ehmP8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ehmP8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ehmP8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__apr1V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__apr1V {
    justify-content: center;
  }
}
.freeBox__tnijC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__kjiLz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__kjiLz {
    text-align: center;
  }
}
.freeBox__kfue9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kfue9 {
    align-self: center;
    justify-content: center;
  }
}
.svg__eqQju {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg___7EaIs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__qmKh9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__fyAH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__qFr7M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__qFr7M {
    justify-content: center;
  }
}
.h4__aGCm0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__aGCm0 {
    text-align: center;
  }
}
.button___2KVEk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___2KVEk:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xIBtp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wfWeb {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wfWeb {
    text-align: center;
  }
}
.svg__oVxXt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1CIk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___1CIk:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__rKKbt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9MzhS {
  color: #92959b;
}
.svg___03Z0A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vo6I9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__vo6I9:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___4LPv9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vRyRr {
  color: #92959b;
}
.svg__eh4Ji {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__inWu9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__inWu9:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__skHcO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cdYj4 {
  color: #92959b;
}
.svg__zpS4M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___9Aoma {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___9Aoma {
    justify-content: center;
  }
}
.h4___1EJk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___1EJk {
    align-self: center;
    text-align: center;
  }
}
.button__iWSbG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__iWSbG:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__oaVvs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ovGxB {
  color: #92959b;
}
.svg__taf9Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gKk2P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__gKk2P:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gwRhx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dij0R {
  color: #92959b;
}
.svg__za0U7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__yewbb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__yewbb {
    justify-content: center;
  }
}
.h4___7SpPi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___7SpPi {
    align-self: center;
    text-align: center;
  }
}
.button__pbu2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__pbu2:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__i2TEp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xKo1N {
  color: #92959b;
}
.svg___4RtSq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wnLrA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wnLrA:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hEkqM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aysEw {
  color: #92959b;
}
.svg__jlBs4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__uk641:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__uk641:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__dh6C1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4XHcp {
  color: #92959b;
}
.svg___3JlPy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___0V9Mz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text___20I5R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___20I5R {
    padding-top: 129px;
  }
}
