.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.img__b1Nh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img__b1Nh > picture > img {
  object-fit: cover;
}
.img__b1Nh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fIyeP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__fIyeP > picture > img {
  object-fit: cover;
}
.img__fIyeP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xbHAa {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img__xbHAa > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img__xbHAa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: right center;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 143px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  height: 222px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__ybhLb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ybhLb {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__upZ3U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 420px;
  max-width: 1000px;
  margin-top: 0px;
  margin-right: 0px;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
  padding: 8px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__upZ3U {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Zilla Slab", serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text___9V96T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 20px;
  color: #eeeeee80;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: "Zilla Slab", serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___9V96T {
    padding-top: 16px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    align-self: flex-start;
    padding-right: 0px;
    max-width: 801px;
    min-width: 0;
  }
}
.text__lqlBl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-iF5qn8RUDPfGsb);
  text-align: center;
  font-family: "Zilla Slab", serif;
  min-width: 0;
}
.freeBox__xdFfQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xdFfQ {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__gcMpL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xGg1C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__b3K1S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vXpS5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__vXpS5:global(.__wab_instance) {
    display: none;
  }
}
.svg__tl0Tr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pi9Za {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.home:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__rwU4A {
  max-width: var(--token-LXHA3eQbNUHYiQ);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rwU4A {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.text___1Ifz5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__n2Xgb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__n2Xgb > picture > img {
  object-fit: cover;
}
.img__n2Xgb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__n2Xgb {
    max-width: 249px;
  }
}
.img__bA6X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__bA6X > picture > img {
  object-fit: cover;
}
.img__bA6X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bA6X {
    width: auto;
  }
}
.img__bQ8P0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bQ8P0 > picture > img {
  object-fit: cover;
}
.img__bQ8P0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bQ8P0 {
    max-width: 50px;
  }
}
.img__g9J1S {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img__g9J1S > picture > img {
  object-fit: cover;
}
.img__g9J1S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__g9J1S {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__rMcw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__rMcw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__rMcw > :global(.__wab_flex-container) > *,
.freeBox__rMcw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rMcw > :global(.__wab_flex-container) > picture > img,
.freeBox__rMcw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rMcw {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rMcw > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rMcw > :global(.__wab_flex-container) > *,
  .freeBox__rMcw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rMcw > :global(.__wab_flex-container) > picture > img,
  .freeBox__rMcw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__eavoq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__eavoq:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard___9Mft6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__mBdra:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__abmPw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__abmPw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__abmPw > :global(.__wab_flex-container) > *,
.freeBox__abmPw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__abmPw > :global(.__wab_flex-container) > picture > img,
.freeBox__abmPw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__abmPw {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__abmPw > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__abmPw > :global(.__wab_flex-container) > *,
  .freeBox__abmPw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__abmPw > :global(.__wab_flex-container) > picture > img,
  .freeBox__abmPw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__qcNz6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qcNz6 > picture > img {
  object-fit: cover;
}
.img__qcNz6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__qcNz6 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__vOtZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vOtZ > picture > img {
  object-fit: cover;
}
.img__vOtZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__vOtZ {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__wz47T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wz47T > picture > img {
  object-fit: cover;
}
.img__wz47T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wz47T {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__aIk6A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__aIk6A > picture > img {
  object-fit: cover;
}
.img__aIk6A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__aIk6A {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__nr2Vh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__nr2Vh > picture > img {
  object-fit: cover;
}
.img__nr2Vh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nr2Vh {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___8JcWd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8JcWd > picture > img {
  object-fit: cover;
}
.img___8JcWd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___8JcWd {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___9Yxj4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___9Yxj4 > picture > img {
  object-fit: cover;
}
.img___9Yxj4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9Yxj4 {
    max-width: 72px;
    max-height: 72px;
  }
}
.text__vL4Vo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__vL4Vo {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__yGSmd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yGSmd {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__wrDw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img__wrDw > picture > img {
  object-fit: cover;
}
.img__wrDw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wrDw {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ndJrE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ndJrE {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__htdUo {
  --plsmc-rc-col-gap: 0px;
}
.columns__htdUo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__htdUo > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__htdUo > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__htdUo > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__htdUo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__htdUo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yFCaW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__yFCaW {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__vp769 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__vp769 > picture > img {
  object-fit: cover;
}
.img__vp769 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__bxSe8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__bxSe8 {
    padding: 4px 0px;
  }
}
.img__rBaln {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__rBaln > picture > img {
  object-fit: cover;
}
.img__rBaln > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__k64XK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__k64XK {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__czfKd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__czfKd > picture > img {
  object-fit: cover;
}
.img__czfKd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__eGoeE {
  --plsmc-rc-col-gap: 0px;
}
.columns__eGoeE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__eGoeE > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__eGoeE > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__eGoeE > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__eGoeE {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__eGoeE > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kVaex {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__kVaex {
    padding-right: 0px;
  }
}
.img__axrqJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__axrqJ > picture > img {
  object-fit: cover;
}
.img__axrqJ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___7XTmq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___7XTmq {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__yrOuw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__yrOuw > picture > img {
  object-fit: cover;
}
.img__yrOuw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__jYo7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__jYo7 {
    padding-left: 0px;
  }
}
.img__hvaE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__hvaE > picture > img {
  object-fit: cover;
}
.img__hvaE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mKlT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__iaAhG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__xDfc {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__xDfc {
    font-size: 16px;
  }
}
.button__di879:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__di879:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg___8Fuz6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rqzDv {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg__zsr8F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__dxR {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__dxR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dxR > :global(.__wab_flex-container) > *,
.freeBox__dxR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dxR > :global(.__wab_flex-container) > picture > img,
.freeBox__dxR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dxR {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dxR > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dxR > :global(.__wab_flex-container) > *,
  .freeBox__dxR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dxR > :global(.__wab_flex-container) > picture > img,
  .freeBox__dxR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__fsbI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__co6Yw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zuqz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__zuqz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__zuqz > :global(.__wab_flex-container) > *,
.freeBox__zuqz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zuqz > :global(.__wab_flex-container) > picture > img,
.freeBox__zuqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zuqz > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zuqz > :global(.__wab_flex-container) > *,
  .freeBox__zuqz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zuqz > :global(.__wab_flex-container) > picture > img,
  .freeBox__zuqz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard___19P5M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__rdn7X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__h974Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__tpxcT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-iF5qn8RUDPfGsb);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__tpxcT {
    padding-top: 18px;
  }
}
.freeBox__t1Nun {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__t1Nun {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__ybq3O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__klvjx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__klvjx > picture > img {
  object-fit: cover;
}
.img__klvjx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__klvjx {
    max-width: 339px;
  }
}
.freeBox__ui11Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__mCBn1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-iF5qn8RUDPfGsb);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__mCBn1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__pslv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pslv {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__bRxO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bRxO > picture > img {
  object-fit: cover;
}
.img__bRxO > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__rgx6O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rgx6O {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__ePvpd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ePvpd {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__rmtzr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__rmtzr > picture > img {
  object-fit: cover;
}
.img__rmtzr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__rmtzr {
    width: auto;
    align-self: flex-start;
  }
}
.text__xZj3W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__xZj3W {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox__trCpx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox__trCpx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__trCpx {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__trCpx > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__trCpx > :global(.__wab_flex-container) > *,
  .freeBox__trCpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__trCpx > :global(.__wab_flex-container) > picture > img,
  .freeBox__trCpx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__xt0Ic:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__vLoAi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__hhBeP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__aWvEx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__aWvEx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aWvEx {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aWvEx > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aWvEx > :global(.__wab_flex-container) > *,
  .freeBox__aWvEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aWvEx > :global(.__wab_flex-container) > picture > img,
  .freeBox__aWvEx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__jnw7Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__lxGmb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__aILq4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___9SxNl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img___9SxNl > picture > img {
  object-fit: cover;
}
.img___9SxNl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9SxNl {
    display: none !important;
  }
}
.img__fk2Ea {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__fk2Ea > picture > img {
  object-fit: cover;
}
.img__fk2Ea > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fk2Ea {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__dQFq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dQFq {
    margin-bottom: 0px;
  }
}
.img__luaaf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__luaaf > picture > img {
  object-fit: cover;
}
.img__luaaf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ySOc {
  --plsmc-rc-col-gap: 0px;
}
.columns__ySOc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__ySOc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__ySOc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ySOc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ySOc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__flFn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__flFn2 {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-iF5qn8RUDPfGsb);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__keR3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-iF5qn8RUDPfGsb);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__keR3 {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__w1UB4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__w1UB4 {
    padding-bottom: 38px;
  }
}
.button__uqIi4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__uqIi4:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__mvFuX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___3Opge {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__nntC3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__weFS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__iTz3H {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__iTz3H > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  --plsmc-rc-col-gap: 52px;
}
.columns__iTz3H > :global(.__wab_flex-container) > *,
.columns__iTz3H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__iTz3H > :global(.__wab_flex-container) > picture > img,
.columns__iTz3H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
.columns__iTz3H {
  --plsmc-rc-col-gap: 0px;
}
.columns__iTz3H > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__iTz3H > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__iTz3H > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__iTz3H {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__iTz3H > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__iTz3H > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7CsAl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__s6XGl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__fMsbT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__anvk5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__anvk5:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__xngau {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__boLqu {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__boLqu {
    top: 85px;
    font-size: 14px;
  }
}
.column__jyhJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__pqEoR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__pqEoR:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
